<div class="section reverse_img"> 
  <div class="contain">
    <div class="mission-inner">
      {% for block in section.blocks %}
      <div class="row row_reverse row_count{{ forloop.index }}">
        <div class="col-md-6">
          <div class="mission_content">
            {% if block.settings.heading != blank %}
            <p class="mission_heading">{{ block.settings.heading }}</p>
            {% endif %}
            {% if block.settings.content != blank %}
            <p class="mission_content">{{ block.settings.content }}</p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="images_side">
            {% if block.settings.image != blank %}
            <img class="only_desktop" src="{{ block.settings.image | img_url: '' }}">
            {% endif %}
            {% if block.settings.image_mob != blank %}
            <img class="only_mobile" src="{{ block.settings.image_mob | img_url: '' }}">
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Reversable",
    "class": "reversable_section",
    "settings": [
        
    ],
    "blocks": [
      {
          "type": "row",
          "name": "Row",
          "settings": [
              {
                "type": "text",
                "id": "heading",
                "label": "Add Heading"
              },
              {
                "type": "textarea",
                "id": "content",
                "label": "Add Content"
              },
              {
                "type": "image_picker",
                "id": "image",
                "label": "Choose Image"
              },
              {
                "type": "image_picker",
                "id": "image_mob",
                "label": "Choose image for mobile"
              }
          ]
      }
    ],
    "presets": [
      {
          "name": "Reversable Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}